html {
  font-family: sans-serif;
  background: rgb(23, 21, 49);
  padding: 1rem;
  color: #ffffff;
}

body {
  /* max-width: 560px; */
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: serif;
  color: #ffe883;
  font-size: xx-large;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content input {
  margin-bottom: 1em;
  background-color: #1d1c3b;
  color: aliceblue;
}

.ui-menu .ui-menu-item a{
  background: rgb(23, 21, 49);
  /* color: #ffffff; */
}

table {
  width: 100%;
}

td, th {
  border: 1px solid;
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: row;
}

.grid-col {
  max-width: 550px;
  flex: 1 1 auto;
  padding: 50px;
}

.regions {
  display: flex;
  flex-wrap: wrap;
}

.region_single {
  flex: 1 1 auto;
}

.reset {
  margin-top: 0.5em;
}

.slider {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.slider input[type="range"] {
  width: 95%;
}

.min {
  background: green;
  accent-color: red;
}

.max {
  background: red;
  accent-color: green;
}

.sliderticks {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  word-wrap: normal;
  width: 1px;
  background: #ffffff;
  height: 10px;
  margin: 0 0 0px 0;
}

.slidertickslabels {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.slidertickslabels p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  word-wrap: normal;
  width: 1px;
  background: rbd(0,0,0,0);
  height: 10px;
  line-height: 15px;
  margin: 5px 0 25px 0;
}

/* .slider .labels {
  list-style-type: none;
  } */

.slider .labels li {
  display: inline-block;
  /* width: 24%; */
}