<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!-- <nav>
  <h1>Flaskr</h1>
</nav> -->
<section class="content">
  <div class="flex justify-center">
    <div class="w-full max-w-lg flex flex-col">
      <header>
        {% block header %}{% endblock %}
      </header>

      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

      {% block content %}{% endblock %}
    </div>
  </div>
</section>