{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Worldle{% endblock %}</h1>
{% endblock %}

{% block content %}

<!-- <div class="flex justify-center">
  <div class="w-full max-w-lg flex flex-col">
    {% include 'unknown_guesses.html' %}
  </div>
</div> -->

<div class="grid">
  <div class="grid-col">{% include 'options.html' %}</div>
  <div class="grid-col">{% include 'unknown_guesses.html' %}</div>
  <div class="grid-col">{% include 'stats.html' %}</div>
</div>
{% endblock %}